iot-flow.json
[{"id":"210a946f.7d729c","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"7772a975.22c058","type":"tab","label":"Control","disabled":false,"info":""},{"id":"cf486d1e.f04e8","type":"tab","label":"Object Detection","disabled":false,"info":""},{"id":"715150f4.0d714","type":"mqtt-broker","name":"Home IoT","broker":"192.168.1.13","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"f3b600a8.a4788","type":"ui_tab","name":"Temperature","icon":"dashboard","disabled":false,"hidden":false},{"id":"1e8f6c1e.329fa4","type":"ui_tab","name":"Control","icon":"dashboard","disabled":false,"hidden":false},{"id":"aeabb938.0bf578","type":"ui_tab","name":"Detection","icon":"dashboard","disabled":false,"hidden":false},{"id":"338f9e07.8324a2","type":"ui_group","name":"Basement","tab":"f3b600a8.a4788","order":1,"disp":true,"width":"6","collapse":true},{"id":"3f6a1004.9d67c","type":"ui_group","name":"Top Floor","tab":"f3b600a8.a4788","order":3,"disp":true,"width":6,"collapse":true},{"id":"ede86055.0d1ed","type":"ui_group","name":"Pi Gateway 1 LED Control","tab":"1e8f6c1e.329fa4","order":1,"disp":true,"width":"6","collapse":false},{"id":"99feb230.122dd","type":"ui_group","name":"NUC 1: Current Object","tab":"aeabb938.0bf578","order":1,"disp":true,"width":"6","collapse":false},{"id":"8540cdcb.aa641","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#12299b","baseFont":"Verdana,Verdana,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":true},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9b996fcb.b866f","type":"ui_group","name":"Pi Gateway1 Button","tab":"1e8f6c1e.329fa4","order":2,"disp":true,"width":"6","collapse":false},{"id":"f3acfbd8.5d4778","type":"debug","z":"210a946f.7d729c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":220,"wires":[]},{"id":"60eec43f.692344","type":"function","z":"210a946f.7d729c","name":"","func":"//msg.payload = msg.payload.temperature\ntemperature = msg.payload.temperature;\ntempround = Math.round(temperature,2);\nmsg.payload = tempround;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":100,"wires":[["7635a602.04c77"]]},{"id":"b2ec3b51.329578","type":"mqtt in","z":"210a946f.7d729c","name":"","topic":"home/upstairs","qos":"2","datatype":"json","broker":"715150f4.0d714","x":230,"y":340,"wires":[["fb635aff.7f9828","5db18a8c.b6661c"]]},{"id":"5db18a8c.b6661c","type":"debug","z":"210a946f.7d729c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":460,"wires":[]},{"id":"fb635aff.7f9828","type":"function","z":"210a946f.7d729c","name":"","func":"//msg.payload = msg.payload.temperature\ntemperature = msg.payload.temperature;\ntempround = Math.round(temperature,2);\nmsg.payload = tempround;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":340,"wires":[["e98f69aa.a8ef9"]]},{"id":"853c1219.57de4","type":"mqtt out","z":"7772a975.22c058","name":"","topic":"home/basement/gateway1/green","qos":"","retain":"","broker":"715150f4.0d714","x":820,"y":80,"wires":[]},{"id":"36bf484e.b18e38","type":"function","z":"7772a975.22c058","name":"","func":"var condition = msg.payload;\nmsg.payload = {green:condition};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":80,"wires":[["853c1219.57de4","2409281e.7c99a8"]]},{"id":"2e8997d3.c6a3c8","type":"mqtt in","z":"cf486d1e.f04e8","name":"","topic":"home/basement/camera1","qos":"2","datatype":"json","broker":"715150f4.0d714","x":190,"y":120,"wires":[["8fd6acdc.9e774","a345b1a6.47568","7ed9b852.6092c8","af7829c4.35e0c8"]]},{"id":"8fd6acdc.9e774","type":"debug","z":"cf486d1e.f04e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":120,"wires":[]},{"id":"af7829c4.35e0c8","type":"function","z":"cf486d1e.f04e8","name":"","func":"if(msg.payload.object === 'person'){\nmsg.topic = \"A person was detected sitting in Joe's chair\";\nmsg.payload = \"Confidence Level: \" + msg.payload.confidence;\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":460,"wires":[["f9d9165d.8ce768","882bcce5.ff706"]]},{"id":"f9d9165d.8ce768","type":"debug","z":"cf486d1e.f04e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":540,"wires":[]},{"id":"c02b9ec3.4b50e","type":"ui_switch","z":"7772a975.22c058","name":"","label":"Pi Gateway1 Green LED","tooltip":"Click to turn on fan on sit/stand desk","group":"ede86055.0d1ed","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":80,"wires":[["36bf484e.b18e38"]]},{"id":"a345b1a6.47568","type":"ui_text","z":"cf486d1e.f04e8","group":"99feb230.122dd","order":2,"width":0,"height":0,"name":"","label":"Confidence:","format":"{{msg.payload.confidence}}","layout":"row-spread","x":630,"y":220,"wires":[]},{"id":"7ed9b852.6092c8","type":"ui_text","z":"cf486d1e.f04e8","group":"99feb230.122dd","order":3,"width":0,"height":0,"name":"","label":"Object: ","format":"{{msg.payload.object}}","layout":"row-spread","x":620,"y":300,"wires":[]},{"id":"7635a602.04c77","type":"ui_gauge","z":"210a946f.7d729c","name":"Basement Temp","group":"338f9e07.8324a2","order":1,"width":6,"height":4,"gtype":"gage","title":"Basement Office","label":"Fahrenheit","format":"{{value}}","min":0,"max":"120","colors":["#3a87fe","#76bb40","#ca3838"],"seg1":"60","seg2":"69","x":920,"y":100,"wires":[]},{"id":"e98f69aa.a8ef9","type":"ui_gauge","z":"210a946f.7d729c","name":"Master Temp","group":"3f6a1004.9d67c","order":1,"width":6,"height":4,"gtype":"gage","title":"Master  Bedroom","label":"Fahrenheit","format":"{{value}}","min":0,"max":"120","colors":["#0061fe","#669d34","#ca3838"],"seg1":"60","seg2":"69","x":910,"y":340,"wires":[]},{"id":"882bcce5.ff706","type":"e-mail","z":"cf486d1e.f04e8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"joeaxberg@gmail.com","dname":"","x":700,"y":460,"wires":[]},{"id":"63c0b892.b12e88","type":"mqtt in","z":"210a946f.7d729c","name":"","topic":"home/basement","qos":"2","datatype":"json","broker":"715150f4.0d714","x":230,"y":100,"wires":[["60eec43f.692344","f3acfbd8.5d4778"]]},{"id":"1de4086f.897cd8","type":"mqtt in","z":"7772a975.22c058","name":"","topic":"home/basement/gateway1/button","qos":"2","datatype":"json","broker":"715150f4.0d714","x":270,"y":400,"wires":[["e7be687b.ede8e8","f4a2cf93.59b6d"]]},{"id":"733e45ff.58870c","type":"ui_switch","z":"7772a975.22c058","name":"","label":"Pi Gateway1 Red LED","tooltip":"","group":"ede86055.0d1ed","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":200,"wires":[["32516fef.f7a23"]]},{"id":"32516fef.f7a23","type":"function","z":"7772a975.22c058","name":"","func":"var condition = msg.payload;\nmsg.payload = {red:condition};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":200,"wires":[["2409281e.7c99a8","c904c18f.ff56c"]]},{"id":"2409281e.7c99a8","type":"debug","z":"7772a975.22c058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":140,"wires":[]},{"id":"e7be687b.ede8e8","type":"debug","z":"7772a975.22c058","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":540,"wires":[]},{"id":"98bd4633.a07888","type":"ui_text","z":"7772a975.22c058","group":"9b996fcb.b866f","order":1,"width":0,"height":0,"name":"","label":"Button Pressed:","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":400,"wires":[]},{"id":"9bfcfbc3.0d9718","type":"change","z":"7772a975.22c058","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"Yes","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"No","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":400,"wires":[["98bd4633.a07888"]]},{"id":"f4a2cf93.59b6d","type":"function","z":"7772a975.22c058","name":"","func":"//msg.payload = msg.payload.temperature\nbutton = msg.payload.switchstate;\nmsg.payload = button\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":400,"wires":[["4267cc63.be9a44"]]},{"id":"4267cc63.be9a44","type":"json","z":"7772a975.22c058","name":"","property":"payload","action":"str","pretty":false,"x":710,"y":400,"wires":[["9bfcfbc3.0d9718"]]},{"id":"c904c18f.ff56c","type":"mqtt out","z":"7772a975.22c058","name":"","topic":"home/basement/gateway1/red","qos":"","retain":"","broker":"715150f4.0d714","x":810,"y":200,"wires":[]}]